body {
   padding-bottom: 60px; 
}



.myname{
    margin-top: 0;
    background: #4aaaa5;
    padding: 10px;
}


.box{
    margin-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 1;
    border-top: 2px solid #ccc;
}
a{
    color: #777777;
}

.navbar {
    padding: 0;
}

.rowbb{
    margin-right:0px;
    margin-left: 0px;
    background-repeat: no-repeat;
}


.footerc{
    background-color: #666666;
}

.banner{
    width:100%;
    padding: 2%;
    margin-top: 110px;
    background: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;

}
.backg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.submit,
.reset{
    background: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

#finger{
    margin-top: -45px;
    height: 40px;
    width: 40px;
    position: absolute;
    animation-name: moveto;
    animation-duration: 3s;

}

@keyframes moveto{
    from{ transform: translateX(0)}
    to{ transform: translateX(300px)}
}