body {
   padding-bottom: 60px; 
}



.myname{
    margin-top: 0;
    background: #4aaaa5;
    padding: 10px;
}


.box{
    margin-top: 100px;
}

hr {
    display: block;
    height: 1px;
    border: 1;
    border-top: 2px solid #ccc;
}
a{
    color: #777777;
}

.navbar {
    padding: 0;
}

.rowbb{
    margin-right:0px;
    margin-left: 0px;
}
.copyright{
    margin:670px;
}

.footerc{
    background-color: #666666;
}